* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Styles for navbar */

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  margin-left: 1%;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40%;
}

.hamburger{
  display: none;
}

.nav-item {
  font-family: "Poppins";
  font-size: 20px;
}

.active-item {
  color: #fe5e35;
}

/* styles for intro-section */

.intro-section {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  font-family: "Fredoka One";
}

/* left-section */

.left-section {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 3%;
  font-family: "Poppins";
}

h3 {
  font-size: 3rem;
  margin-bottom: 2%;
}

h1 {
  font-family: "Fredoka One";
  font-size: 4.78rem;
  font-weight: bold;
}

.sub-headlines {
  margin-top: 2%;
  margin-left: 3%;
}

img[alt="plus"] {
  width: 20px;
  height: 20px;
  background-color: #fe5e35;
  border-radius: 50%;
}

.sub-headline {
  margin-top: 2%;
  font-size: 20px;
}

.text {
  margin-top: 5%;
  padding-right: 8%;
}

.action-btns {
  margin-top: 5%;
}

/* The selector below selects see catalog button */
div.action-btns > button + button {
  margin-left: 3%;
}

.action-btn {
  width: 160px;
  height: 50px;
  border: none;
  border-radius: 30px;
  background: #fe5e35;
  font-size: 20px;
  color: #ffffff;
}


/* right-section */

.dots + .action-btn{
  margin-top: 6%;
  margin-left: 35%;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.discount {
  position: absolute;
  bottom: 28%;
  left: 61%;
}

.discount-content > h4 {
  text-align: center;
  color: #ffffff;
}

.discount-content > h1 {
  text-align: center;
  font-size: 4rem;
  color: #ffffff;
}

.discount-content {
  position: absolute;
  bottom: 33%;
  left: 63%;
}

img[alt="headphone"]{
  width: 520px;
  height: 520px;
}

.dots {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.yellow-dot {
  background: yellow;
}

.tomato-dot {
  background: tomato;
  margin: 0 3%;
}

.black-dot {
  background: black;
}

/* styles for mobile screens between 0 & 500px width*/

@media screen and (min-width: 0px) and (max-width: 500px) {

  /* styles for navbar */

  nav{
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-items{
    display: none;
  }

  img[alt="actions"]{
    display: none;
  }

  .hamburger{
    display: inline;
    height: 40px;
    width: 40px;
  }

  /* styles for intro section */

  .intro-section{
    display: flex;
    flex-direction: column-reverse;
  }

  /* styles for headphone */

  img[alt="headphone"]{
    margin-top: 15%;
    margin-left: 10%;
    width: 380px;
    height: 500px;
  }

  .discount {
    position: absolute;
    top: 10%;
    left: 50%;
  }

  .discount-content {
    position: absolute;
    top: 15%;
    left: 59%;
  }

  .dots + .action-btn{
    margin: auto;
    margin-top: 5%;
  }

}

/* styles for mobile devices between 500 to 790px width */

@media screen and (min-width:500px) and (max-width: 1000px){
  /* styles for navbar */

  nav{
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-items{
    display: none;
  }

  img[alt="actions"]{
    display: none;
  }

  .hamburger{
    display: inline;
    height: 40px;
    width: 40px;
  }

  /* styles for intro section */

  .intro-section{
    display: flex;
    flex-direction: column-reverse;
  }

  /* styles for headphone */

  img[alt="headphone"]{
    margin-top: 5%;
    margin-left: 15%;
    width: 600px;
    height: 600px;
  }

  .discount {
    position: absolute;
    top: 67%;
    left: 8%;
  }

  .discount-content {
    position: absolute;
    top: 73%;
    left: 12%;
  }

  .dots + .action-btn{
    margin: auto;
    margin-top: 5%;
  }
}

/* styles for mobile screens between  */